* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

#parent {
    width: 480px;
    height: 80px;
    background-color: #70419a;
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 5px;
}

.box {
    width: 85px;
    height: 58px;
    background-color: #ff9818;

    border: 2px solid #9b5410;
    border-radius: 8px;

    color: white;
    font-size: 26px;
    font-family: Arial;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: inset 0 5px 0 #ffad3c;
}

#parent {
    width: 340px;
    height: 60px;
    background-color: #71409a;
    border: 3px solid #4d286d;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 5px;
}

.box {
    width: 75px;
    height: 40px;

    background-color: #ff9818;
    border: 2px solid #9b5410;
    border-radius: 7px;

    color: white;
    font-size: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: inset 0 4px 0 #ffae3d;
}

.big {
    width: 155px;
}