/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.a {
  width: 1000px;
  height: 700px;
  display: grid;
  justify-content: center;
  align-content: center;

  gap: 10px;

  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(24, 1fr);
}

.b {
  background-color: Lime;
  border: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-row: 1 / 24;
}

.c {
  background-color: Lime;
  border: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-column: 2;
  grid-row: 1 / 12;
}

.d {
  background-color: Lime;
  border: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-column: 2;
  grid-row: 13 /12;
}

.e {
  background-color: Lime;
  border: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-column: 3;
  grid-row: 1 / 8;
}

.f {
  background-color: Lime;
  border: 1px  black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-column: 3;
  grid-row: 9 /8;
}

.g {
  background-color: Lime;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-column: 3;
  grid-row: 17 / span 8;
}

.h {
  background-color: Lime;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-column: 4;
  grid-row: 1 / span 6;
}

.i {
  background-color: Lime;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-column: 4;
  grid-row: 7 / span 6;
}

.j {
  background-color: Lime;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-column: 4;
  grid-row: 13 / span 6;
}

.k {
  background-color: Lime;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-column: 4;
  grid-row: 19 / 6;
}

.l {
  background-color: Lime;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-column: 5;
  grid-row: 1 / span 4;
}

.m {
  background-color: Lime;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-column: 5;
  grid-row: 5 / span 4;
}

.n {
  background-color: Lime;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-column: 5;
  grid-row: 9 / span 4;
}

.o {
  background-color: Lime;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-column: 5;
  grid-row: 13 / span 4;
}

.p {
  background-color: Lime;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-column: 5;
  grid-row: 17 / span 4;
}

.q {
  background-color: Lime;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-column: 5;
  grid-row: 21 / span 4;
}

.r {
  background-color: Lime;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-column: 6;
  grid-row: 1 / span 2;
}

.s {
  background-color: Lime;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-column: 6;
  grid-row: 3 / span 2;
}

.t {
  background-color: Lime;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-column: 6;
  grid-row: 5 / span 2;
}

.u {
  background-color: Lime;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-column: 6;
  grid-row: 7 / span 2;
}

.v {
  background-color: Lime;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-column: 6;
  grid-row: 9 / span 2;
}

.w {
  background-color: Lime;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-column: 6;
  grid-row: 11 / span 2;
}

.x {
  background-color: Lime;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-column: 6;
  grid-row: 13 / span 2;
}

.y {
  background-color: Lime;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-column: 6;
  grid-row: 15 / span 2;
}

.z {
  background-color: Lime;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-column: 6;
  grid-row: 17 / span 2;
}

.aa {
  background-color: Lime;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-column: 6;
  grid-row: 19 / span 2;
}

.ab {
  background-color: Lime;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-column: 6;
  grid-row: 21 / span 2;
}

.ac {
  background-color: Lime;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-column: 6;
  grid-row: 23 / span 2;
} */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.a {
  width: 1000px;
  height: 500px;
  border-radius: 10px;

  display: grid;

  justify-content: center;
  align-content: center;

  gap: 10px;

  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

/* რიგი 1 (1 ელემენტი) */
.b {
  background-color: #ffcc00;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-row: 1;
  grid-column: 1 / span 24;
}

/* რიგი 2 (2 ელემენტი) */
.c {
  background-color: #ffcc00;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-row: 2;
  grid-column: 1 / span 12;
}

.d {
  background-color: #ffcc00;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-row: 2;
  grid-column: 13 / span 12;
}

/* რიგი 3 (3 ელემენტი) */
.e {
  background-color: #ffcc00;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-row: 3;
  grid-column: 1 / span 8;
}

.f {
  background-color: #ffcc00;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-row: 3;
  grid-column: 9 / span 8;
}

.g {
  background-color: #ffcc00;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-row: 3;
  grid-column: 17 / span 8;
}

/* რიგი 4 (4 ელემენტი) */
.h {
  background-color: #ffcc00;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-row: 4;
  grid-column: 1 / span 6;
}

.i {
  background-color: #ffcc00;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-row: 4;
  grid-column: 7 / span 6;
}

.j {
  background-color: #ffcc00;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-row: 4;
  grid-column: 13 / span 6;
}

.k {
  background-color: #ffcc00;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-row: 4;
  grid-column: 19 / span 6;
}

/* რიგი 5 (6 ელემენტი) */
.l {
  background-color: #ffcc00;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-row: 5;
  grid-column: 1 / span 4;
}

.m {
  background-color: #ffcc00;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-row: 5;
  grid-column: 5 / span 4;
}

.n {
  background-color: #ffcc00;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-row: 5;
  grid-column: 9 / span 4;
}

.o {
  background-color: #ffcc00;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-row: 5;
  grid-column: 13 / span 4;
}

.p {
  background-color: #ffcc00;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-row: 5;
  grid-column: 17 / span 4;
}

.q {
  background-color: #ffcc00;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-row: 5;
  grid-column: 21 / span 4;
}

/* რიგი 6 (12 ელემენტი) */
.r {
  background-color: #ffcc00;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-row: 6;
  grid-column: 1 / span 2;
}

.s {
  background-color: #ffcc00;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-row: 6;
  grid-column: 3 / span 2;
}

.t {
  background-color: #ffcc00;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-row: 6;
  grid-column: 5 / span 2;
}

.u {
  background-color: #ffcc00;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-row: 6;
  grid-column: 7 / span 2;
}

.v {
  background-color: #ffcc00;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-row: 6;
  grid-column: 9 / span 2;
}

.w {
  background-color: #ffcc00;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-row: 6;
  grid-column: 11 / span 2;
}

.x {
  background-color: #ffcc00;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-row: 6;
  grid-column: 13 / span 2;
}

.y {
  background-color: #ffcc00;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-row: 6;
  grid-column: 15 / 2;
}

.z {
  background-color: #ffcc00;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-row: 6;
  grid-column: 17 / 2;
}

.aa {
  background-color: #ffcc00;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-row: 6;
  grid-column: 19 / span 2;
}

.ab {
  background-color: #ffcc00;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-row: 6;
  grid-column: 21 / span 2;
}

.ac {
  background-color: #ffcc00;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  grid-row: 6;
  grid-column: 23 / span 2;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
}


.a {
  width: 900px;
  height: 550px;
  display: grid;
  gap: 15px;

  grid-template-columns: 220px repeat(3, 1fr);
  grid-template-rows: 80px 1fr 60px;
}


.b {
  background-color: #e5e0f0;
  color: #554d68;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 25px;
  font-size: 24px;
  font-weight: bold;
  grid-column: 1 / span 4;
  grid-row: 1;
}

.c {
  background-color: #e5e0f0;
  color: #554d68;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  grid-column: 1;
  grid-row: 2;
}

.d {
  background-color: #e5e0f0;
  color: #554d68;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  grid-column: 2 / span 3;
  grid-row: 2;
}

.e {
  background-color: #e5e0f0;
  color: #554d68;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  grid-column: 1 / span 4;
  grid-row: 3;
}