*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.a{
  display: grid;
  grid-template-columns: 100fr 10fr 100fr;
  grid-template-rows: 1fr 2fr 3fr 2fr;
}

.b{
  background-color: rgb(70, 154, 179);
  border: 2px dashed white;
  color: white;
  padding: 10px;
}